{% extends "base.html" %}

{% block css %}
<style type="text/css">
  table th {
  color: white;
  width:100px;
  height:40px;
  text-align:center;
  vertical-align:middle;

  background-color:#3B5998;
  border:1px solid #fff;
}

table td {
  width:175px;
  height:30px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:1px solid #fff;
}
.cellWhite
{
color: white;
background-color: White;
}

.shrinkCell
{
  height:0px;
}


table td.highlighted {
  background-color:#999;
}​
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="fb-event-list">
              <li class="nav-header">Your Facebook Events</li>
              {% for event in events %}
                <li><a href="#" data-id="{{ event.id }}">{{ event.name }}</a></li>
              {% endfor %}
              <li class="nav-header">Create an Event</li>
              <li><input class=span10 type="text" placeholder="Name"></li>
              <li><input class=span10 type="text" placeholder="Location"></li>

              <!--
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Privacy Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Open</a></li>
                  <li><a href="#">Secret</a></li>
                  <li><a href="#">Friends</a></li>
            </ul>
-->

          </div><!--/.well -->
        </div><!--/span-->
<table cellpadding="0" cellspacing="0" id="meme">
<thead>
  <tr>
    {% for day in days %}
    <th>{{ day }}</th>
    {% endfor %}
  </tr>
</thead>
<tbody>
  {% for time in times %}
  {% if usedtimes and not usedtimes[loop.index0] %}
  <tr></tr>
  {% else %}
  <tr>
    {% set outer_loop = loop %}
    {% for day in days %}
      {% if available and outer_loop.index0 not in available[loop.index0] %}
        <td class="cellWhite">{{ time }}</td>
      {% else %}
        <td>{{ time }}</td>
      {% endif %}
    {% endfor %}
  </tr>
  {% endif %}
  {% endfor %}
</tbody>

</table>​
<form action="/create/" method="POST" id="create-form">
  <input type="hidden" name="fb-event-id" id="fb-event-id"/>
  <input type="hidden" name="fb-times" id="fb-times"/>
  <input id="go" type="submit" class="btn pull-right" name="submit" value="Go &raquo;"/>
</form>

{% endblock %}


{% block js %}
<script type="text/javascript">
$(function() {

  var isMouseDown = false;
  var togglingOn = true;

  $("#meme td")
  .mousedown(function () {
    if (!$(this).hasClass("cellWhite")) {
      isMouseDown = true;
      togglingOn = !$(this).hasClass("highlighted");
      $(this).toggleClass("highlighted", togglingOn);
    }
    return false; // prevent text selection
  })
  .mouseover(function () {
    if (isMouseDown && !$(this).hasClass("cellWhite")) {
      $(this).toggleClass("highlighted", togglingOn);
    }
  });

  $(document).mouseup(function () {
    isMouseDown = false;
  });

  $("#fb-event-list a").click(function() {
    var id = $(this).data('id');
    console.log(id);
    $("#fb-event-id").val(id);
    return false;
  })

  $("#create-form").submit(function(e) {
    // e.preventDefault();

    var $table = $("#meme"),
        $rows = $table.find("tbody tr");

    var headers = [],
        rows = [];
    $rows.each(function(row,v) {
      $(this).find("td").each(function(cell,v) {
        if (typeof rows[cell] === 'undefined') rows[cell] = [];
        rows[cell][row] = $(this).hasClass("highlighted");
      });
    });

    var days = $.map(rows, function (truefalse, cell) {
      return [$.map(truefalse, function (v, row) {
        if (v) {
          return row;
        }
      })];
    });

    $("#fb-times").val(JSON.stringify(days));
  });

});



 </script>

{% endblock %}
