{% extends "base.html" %}

{% block css %}
<style type="text/css">
  table th {
  color: white;
  width:100px;
  height:40px;
  text-align:center;
  vertical-align:middle;

  background-color:#3B5998;
  border:1px solid #fff;
}

table td {
  width:175px;
  height:30px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:1px solid #fff;
}
.cellWhite
{
color: white;
background-color: White;
}


table td.highlighted {
  background-color:#999;
}​
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header" id="fb-event-list">Facebook Events</li>
              {% for event in events %}
                <li><a href="#" data-id="{{ event.id }}">{{ event.name }}</a></li>
              {% endfor %}
              <li class="nav-header">Create an Event</li>
              <li><input class=span10 type="text" placeholder="Name"></li>
              <li><input class=span10 type="text" placeholder="Location"></li>

              <!--
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Privacy Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Open</a></li>
                  <li><a href="#">Secret</a></li>
                  <li><a href="#">Friends</a></li>
            </ul>
-->

          </div><!--/.well -->
        </div><!--/span-->
<table cellpadding="0" cellspacing="0" id="meme">
<thead>
  <tr>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Sunday</th>
  </tr>
</thead>
<tbody>
    <tr>
    <td>12 AM</td>
    <td>12 AM</td>
    <td>12 AM</td>
    <td>12 AM</td>
    <td>12 AM</td>
    <td>12 AM</td>
    <td>12 AM</td>

  </tr>
  <tr>
    <td>1 AM</td>
    <td>1 AM</td>
    <td>1 AM</td>
    <td>1 AM</td>
    <td>1 AM</td>
    <td>1 AM</td>
    <td>1 AM</td>

  </tr>
  <tr>
    <td>2 AM</td>
    <td>2 AM</td>
    <td>2 AM</td>
    <td>2 AM</td>
    <td>2 AM</td>
    <td>2 AM</td>
    <td>2 AM</td>

  </tr>
  <tr>
    <td>3 AM</td>
    <td>3 AM</td>
    <td>3 AM</td>
    <td>3 AM</td>
    <td>3 AM</td>
    <td>3 AM</td>
    <td>3 AM</td>

  </tr>
  <tr>
    <td>4 AM</td>
    <td>4 AM</td>
    <td>4 AM</td>
    <td>4 AM</td>
    <td>4 AM</td>
    <td>4 AM</td>
    <td>4 AM</td>

  </tr>
  <tr>
    <td>5 AM</td>
    <td>5 AM</td>
    <td>5 AM</td>
    <td>5 AM</td>
    <td>5 AM</td>
    <td>5 AM</td>
    <td>5 AM</td>

  </tr>
  <tr>
    <td>6 AM</td>
    <td>6 AM</td>
    <td>6 AM</td>
    <td>6 AM</td>
    <td>6 AM</td>
    <td>6 AM</td>
    <td>6 AM</td>

  </tr>
  <tr>
    <td>7 AM</td>
    <td>7 AM</td>
    <td>7 AM</td>
    <td>7 AM</td>
    <td>7 AM</td>
    <td>7 AM</td>
    <td>7 AM</td>

  </tr>
    <td>8 AM</td>
    <td>8 AM</td>
    <td>8 AM</td>
    <td>8 AM</td>
    <td>8 AM</td>
    <td>8 AM</td>
    <td>8 AM</td>


  </tr>
<tr>
    <td>9 AM</td>
    <td>9 AM</td>
    <td>9 AM</td>
    <td>9 AM</td>
    <td>9 AM</td>
    <td>9 AM</td>
    <td>9 AM</td>

  </tr>
<tr>
    <td>10 AM</td>
    <td>10 AM</td>
    <td>10 AM</td>
    <td>10 AM</td>
    <td>10 AM</td>
    <td>10 AM</td>
    <td>10 AM</td>

  </tr>
<tr>
    <td>11 AM</td>
    <td>11 AM</td>
    <td>11 AM</td>
    <td>11 AM</td>
    <td>11 AM</td>
    <td>11 AM</td>
    <td>11 AM</td>

  </tr>
  <tr>
    <td>12 PM</td>
    <td>12 PM</td>
    <td>12 PM</td>
    <td>12 PM</td>
    <td>12 PM</td>
    <td>12 PM</td>
    <td>12 PM</td>

  </tr>
  <tr>
    <td>1 PM</td>
    <td>1 PM</td>
    <td>1 PM</td>
    <td>1 PM</td>
    <td>1 PM</td>
    <td>1 PM</td>
    <td>1 PM</td>

  </tr>
  <tr>
    <td>2 PM</td>
    <td>2 PM</td>
    <td>2 PM</td>
    <td>2 PM</td>
    <td>2 PM</td>
    <td>2 PM</td>
    <td>2 PM</td>

  </tr>
  <tr>
    <td>3 PM</td>
    <td>3 PM</td>
    <td>3 PM</td>
    <td>3 PM</td>
    <td>3 PM</td>
    <td>3 PM</td>
    <td>3 PM</td>

  </tr>
  <tr>
    <td>4 PM</td>
    <td>4 PM</td>
    <td>4 PM</td>
    <td>4 PM</td>
    <td>4 PM</td>
    <td>4 PM</td>
    <td>4 PM</td>

  </tr>
  <tr>
    <td>5 PM</td>
    <td>5 PM</td>
    <td>5 PM</td>
    <td>5 PM</td>
    <td>5 PM</td>
    <td>5 PM</td>
    <td>5 PM</td>

  </tr>
  <tr>
    <td >6 PM</td>
    <td>6 PM</td>
    <td>6 PM</td>
    <td>6 PM</td>
    <td>6 PM</td>
    <td>6 PM</td>
    <td>6 PM</td>

  </tr>
  <tr>
    <td>7 PM</td>
    <td>7 PM</td>
    <td>7 PM</td>
    <td>7 PM</td>
    <td>7 PM</td>
    <td>7 PM</td>
    <td>7 PM</td>

  </tr>
  <tr>
    <td>8 PM</td>
    <td>8 PM</td>
    <td>8 PM</td>
    <td>8 PM</td>
    <td>8 PM</td>
    <td>8 PM</td>
    <td>8 PM</td>

  </tr>
  <tr>
    <td>9 PM</td>
    <td>9 PM</td>
    <td>9 PM</td>
    <td>9 PM</td>
    <td>9 PM</td>
    <td>9 PM</td>
    <td>9 PM</td>

  </tr>
  <tr>
    <td>10 PM</td>
    <td>10 PM</td>
    <td>10 PM</td>
    <td>10 PM</td>
    <td>10 PM</td>
    <td>10 PM</td>
    <td>10 PM</td>

  </tr>
  <tr>
    <td>11 PM</td>
    <td>11 PM</td>
    <td>11 PM</td>
    <td>11 PM</td>
    <td>11 PM</td>
    <td>11 PM</td>
    <td>11 PM</td>

  </tr>
</tbody>

</table>​
<form action="/create/" method="POST" id="create-form">
  <input type="hidden" name="fb-event-id" id="fb-event-id"/>
  <input type="hidden" name="fb-times" id="fb-times"/>
  <input id="go" type="submit" class="btn pull-right" name="submit" value="Go &raquo;"/>
</form>

{% endblock %}


{% block js %}
  <script type="text/javascript">
        //<![CDATA[
  $(window).load(function(){
    $(function () {
      var isMouseDown = false;
      var togglingOn = true;

      $("#meme td")
      .mousedown(function () {
        if (!$(this).hasClass("cellWhite")) {
          isMouseDown = true;
          togglingOn = !$(this).hasClass("highlighted");
          $(this).toggleClass("highlighted", togglingOn);
        }
        return false; // prevent text selection
      })
      .mouseover(function () {
        if (isMouseDown) {
          $(this).toggleClass("highlighted", togglingOn);
        }
      });

      $(document).mouseup(function () {
        isMouseDown = false;
      });
    });
  });//]]>

  </script>

<script type="text/javascript">
$(function() {
  var $table = $("#meme"),
      $headerCells = $table.find("thead th"),
      $rows = $table.find("tbody tr");

  var headers = [],
      rows = [],
      highlightedRows = []
  $headerCells.each(function(k,v) {
     headers[headers.length] = $(this).text();
  });
  
  $rows.each(function(row,v) {
    $(this).find("td").each(function(cell,v) {
      if (typeof rows[cell] === 'undefined') rows[cell] = [];
      rows[cell][row] = $(this).text();
    });
  });


  console.log(headers);
  console.log(rows[0]);
  console.log(rows);

  $("#fb-event-list ul").click(function() {
    $("#fb-event-id").value($(this).data('id'));
  })

});

$("#create-form").submit(function() {
  highlighted = [];
  highlighted.push($(".highlighted:nth-child(1)"));
  highlighted.push($(".highlighted:nth-child(2)"));
  highlighted.push($(".highlighted:nth-child(3)"));
  highlighted.push($(".highlighted:nth-child(4)"));
  highlighted.push($(".highlighted:nth-child(5)"));
  highlighted.push($(".highlighted:nth-child(6)"));
  highlighted.push($(".highlighted:nth-child(7)"));
  $("#fb-times").value(JSON.stringify(highlighted));
  return false;
});
 </script>

{% endblock %}
