{% extends "base.html" %}

{% block css %}
<style type="text/css">
  table th {
  width:100px;
  height:40px;
  text-align:center;
  vertical-align:middle;
  background-color:#888888;
  border:1px solid #fff;
}

table td {
  width:100px;
  height:30px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:1px solid #fff;
}

table td.highlighted {
  background-color:#999;
}​
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Facebook Events</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
<table cellpadding="0" cellspacing="0" id="our_table">
<tr>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
</tr>
<tr>
    <td>8 AM</td>
    <td>8 AM</td>
    <td>8 AM</td>
    <td>8 AM</td>
    <td>8 AM</td>
  </tr>
<tr>
    <td>9 AM</td>
    <td>9 AM</td>
    <td>9 AM</td>
    <td>9 AM</td>
    <td>9 AM</td>
  </tr>
<tr>
    <td>10 AM</td>
    <td>10 AM</td>
    <td>10 AM</td>
    <td>10 AM</td>
    <td>10 AM</td>
  </tr>
<tr>
    <td>11 AM</td>
    <td>11 AM</td>
    <td>11 AM</td>
    <td>11 AM</td>
    <td>11 AM</td>
  </tr>
  <tr>
    <td>12 PM</td>
    <td>12 PM</td>
    <td>12 PM</td>
    <td>12 PM</td>
    <td>12 PM</td>
  </tr>
  <tr>
    <td>1 PM</td>
    <td>1 PM</td>
    <td>1 PM</td>
    <td>1 PM</td>
    <td>1 PM</td>
  </tr>
  <tr>
    <td>2 PM</td>
    <td>2 PM</td>
    <td>2 PM</td>
    <td>2 PM</td>
    <td>2 PM</td>
  </tr>
  <tr>
    <td>3 PM</td>
    <td>3 PM</td>
    <td>3 PM</td>
    <td>3 PM</td>
    <td>3 PM</td>
  </tr>
  <tr>
    <td>4 PM</td>
    <td>4 PM</td>
    <td>4 PM</td>
    <td>4 PM</td>
    <td>4 PM</td>
  </tr>
  <tr>
    <td>5 PM</td>
    <td>5 PM</td>
    <td>5 PM</td>
    <td>5 PM</td>
    <td>5 PM</td>
  </tr>
  <tr>
    <td>6 PM</td>
    <td>6 PM</td>
    <td>6 PM</td>
    <td>6 PM</td>
    <td>6 PM</td>
  </tr>
  <tr>
    <td>7 PM</td>
    <td>7 PM</td>
    <td>7 PM</td>
    <td>7 PM</td>
    <td>7 PM</td>
  </tr>
  <tr>
    <td>8 PM</td>
    <td>8 PM</td>
    <td>8 PM</td>
    <td>8 PM</td>
    <td>8 PM</td>
  </tr>
  <tr>
    <td>9 PM</td>
    <td>9 PM</td>
    <td>9 PM</td>
    <td>9 PM</td>
    <td>9 PM</td>
  </tr>
  <tr>
    <td>10 PM</td>
    <td>10 PM</td>
    <td>10 PM</td>
    <td>10 PM</td>
    <td>10 PM</td>
  </tr>
  <tr>
    <td>11 PM</td>
    <td>11 PM</td>
    <td>11 PM</td>
    <td>11 PM</td>
    <td>11 PM</td>
  </tr>
</table>​
{% endblock %}


{% block js %}
  <script type="text/javascript">
        //<![CDATA[
  $(window).load(function(){
  $(function () {
  var isMouseDown = false;
  $("#our_table td")
  .mousedown(function () {
  isMouseDown = true;
  $(this).toggleClass("highlighted");
  return false; // prevent text selection
  })
  .mouseover(function () {
  if (isMouseDown) {
  $(this).toggleClass("highlighted");
  }
  });
  $(document)
  .mouseup(function () {
  isMouseDown = false;
  });
  });
  });//]]>

  </script>
{% endblock %}
