{% extends "base.html" %}
{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>When Works</h1>
        <p>A better way to schedule events socially. Sign in with Facebook now to find the perfect time to hold group events.</p>
        <p><a class="btn btn-primary btn-large">Try it now &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4" itemprop="featureList">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_009_magic.png"/> Easy to Use</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="span4" itemprop="featureList">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_043_group.png"/> Social Integration</h2>
          <p>Donec id elit non mi porta gravida at eget metus.</p>
       </div>
        <div class="span4">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_045_calendar.png"/> Pick the Best Time</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
        </div>
      </div>

        <div class="row">
        <div class="span4">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_042_pie_chart.png"/> Visualize Your Results</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="span4">
          <h2>Social Event Planning</h2>
          <p>Donec id elit non mi porta gravida at eget metus. </p>
       </div>
        <div class="span4">
          <h2>Pick the best time</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
        </div>
      </div>


      <hr>

      <footer>
        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p>&copy; Facebook NY Hackathon 2012</p>
      </footer>
{% endblock %}
