{% extends "base.html" %}
{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>When Works</h1>
        <p>A better way to schedule events socially. Sign in with Facebook now to find the perfect time to hold group events.</p>
        <p><a class="btn btn-primary btn-large" href="/create/">Try it now &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4" itemprop="featureList">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_009_magic.png"/> Easy to Use</h2>
          <p>Use our simple interface to quickly and efficiently plan social events.</p>
        </div>
        <div class="span4" itemprop="featureList">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_043_group.png"/> Social Integration</h2>
          <p>Integrated with Facebook friends, events, profiles, and message inboxes.</p>
       </div>
        <div class="span4">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_045_calendar.png"/> Pick the Best Time</h2>
          <p>Drag and drop the times that work the best and submit your time preferences in a matter of seconds. </p>
        </div>
      </div>

        <div class="row">
        <div class="span4">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_042_pie_chart.png"/> Visualize Your Results</h2>
          <p>Get a quick look at the results of your polls and see user statistics.</p>
        </div>
        <div class="span4">
          <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_053_alarm.png"/> Get Notifications</h2>
          <p>Notify eventgoers as soon as you decide on an event time through notifications. </p>
       </div>
        <div class="span4">
        <h2><img class="bs-icon" src="/static/glyphicons/png/glyphicons_152_new_window.png"/> Share Your Events</h2>
          <p>Export the details of your event and share them with just about anyone.</p>
        </div>
      </div>

{% endblock %}
